body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:Montserrat, Varela Round;
}

h1{font-size:2.143em;font-weight:700}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.divider-small {
    background-color:#1773c7;
    height:2px;
    width:40px;
    margin:auto auto 20px;
}

.divider {
    background-color:#1773c7;
    height:2px;
    width:80px;
    margin:auto auto 20px;
}

.divider-large {
    background-color:#1773c7;
    height:2px;
    width:180px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
    

.btn-custom{
    background-color:transparent;
    color:#1773c7;
    border:2px solid #1773c7;
    padding:15px 20px;
    margin-top:30px;
    -webkit-transition:.35s;
    transition:.35s;
    text-transform:uppercase;
}

.btn-custom:hover{
    background-color:#1773c7;
    color:#FFF;
    border:2px solid #1773c7;
}


/* NAVBAR */
.navbar {
    background-color: #1773c7;
    border: none;
    height: 75px !important;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
}

.navbar .navbar-nav li > a {
    color: #f8f8f8;
    letter-spacing: 0.1em;
    height: 75px;
    padding-top: 30px;
}

.navbar .navbar-nav li > a.active {
    background-color: #FF6600;
}

.navbar .navbar-nav li > a:hover {
    color: #f8f8f8;
}

.navbar .navbar-header a {
    color: #f8f8f8;
    padding-top: 20px;
}

.navbar .navbar-header {
    height: 75px;
}

.navbar-default .navbar-toggle {
    background-color: #f8f8f8;
    margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #1773c7;
}

.navbar-default .navbar-collapse {
    background-color: #1773c7;
}


/* INTRO */
.intro-lg {
    text-align:center;
    padding-top:150px;
    padding-bottom:150px;
    font-size: 16px;
}

.intro-header {
    padding-top: 150px;
    padding-bottom: 200px;
    text-align: left;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg)fixed no-repeat center center;
    background-color: #000;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

@media (max-width:768px){
    .intro-header {
        padding-top: 5px;
        padding-bottom: 10px;
        background: url(../img/intro-bg.jpg)scroll no-repeat center center;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
    }
}
    

.intro-header h1 {
    font-size: 5em;
}

@media only screen and (max-width: 767px) {
    .intro-header h1 {
        font-size: 2.5em;
    }

}

.intro-header h3 {
    font-size: 1.3em;
}

/* SERVICES */
.services {
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
}

.service-span {
    font-size: 5em;
    padding: 10px 0;
    color: #1773c7;
}

/* CONTENT */
.content {
    background-color:#F5F5F5;
    border-top:1px solid #E0E0E0;
    padding-top:50px;
    padding-bottom:60px;
    text-align: center;
}

/* INTRO OF A SITE */
.intro {
    padding: 80px 0;
}

.intro .uppercase {
    text-transform: uppercase;
}

.intro h2 {
    font-size: 1.8em;
    color: #1773c7;
    padding: 20px 0;
}

.about {
    text-align: center;
}

.about h2 {
    font-size: 1.8em;
    color: #1773c7;
    padding: 20px 0;
}

.about .col-centered {
    float: none;
    margin: 0 auto;
}

/* CONTACT */
.contact {
	text-align: center;
}

.contact-intro p a {
	text-decoration: none;
}

.contact h3 {
	font-size: 1.5em;
    color: #1773c7;
    padding: 20px 0;
}

.contact .divider-large {
	margin-bottom: 50px;
}

/* FORM */
.input-group-lg {
    margin: 50px 0;
    font-size: .9em;
}

label {
    margin: 10px;
    font-size: 1.214em;
}

label i {
	color: #1773c7;
}

.form-control {
	border-bottom: 2px solid #1773c7;
	transition: border-bottom-color 0.4s;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0 !important;
	-webkit-appearance: none !important;
}

.form-control:focus {
	border-bottom: 2px solid #FF6600;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0 !important;
	-webkit-appearance: none !important;
}

/* PROJECTS */
.recent-work {
    background-color:#F5F5F5;
    border-top:1px solid #E0E0E0;
    padding-top:50px;
    padding-bottom:60px;
    text-align: center;
}


figcaption {
    padding:2em;
    color:#FFF;
    text-transform:uppercase;
    text-align:center;
    font-size:1em;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}

.grid {
    padding: 40px 0;
}

.grid figure {
    position:relative;
    min-width:200px;
    max-width:450px;
    max-height:300px;
    background:#b8b8b8;
    text-align:center;
    cursor:pointer;
    margin:0 auto;
    overflow:hidden;
    border-radius:5px;
}

.grid figure img {
    position:relative;
    display:block;
    opacity:.8;
    max-width:100%;
}

.grid figure figcaption {
    padding:2em;
    color:#FFF;
    text-transform:uppercase;
    text-align:center;
    font-size:1em;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}

.grid figure figcaption::after,.grid figure figcaption::before {
    pointer-events:none;
}

.grid figure figcaption,.grid figure figcaption>a {
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
}

.grid figure figcaption>a { 
    z-index:1000;
    text-indent:200%;
    white-space:nowrap;
    font-size:0;
    opacity:0;
}

.grid figure h2 { 
    font-weight:400;
    margin-top:-5px;
}

.grid figure p {
    margin:-8px 0;
    letter-spacing:1px;
    font-size:14px;
}

.grid-item-2 {
    -webkit-animation-delay:.2s;
    animation-delay:.4s;
}

.grid-item-3 {
    -webkit-animation-delay:.4s;
    animation-delay:.4s;
}

figure.grid-item figcaption {
    top:auto;
    bottom:0;
    padding:1.3em;
    height:6em;
    background:#FF6600;
    color:#FFF;
    -webkit-transition:-webkit-transform .35s;transition:transform .35s;
    -webkit-transform:translateY(120%);
    -ms-transform:translateY(120%);
    transform:translateY(120%);
    opacity:.9;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

figure.grid-item figcaption.dribbble {
    background:#ea4c89;
    color:#FFF;
}

figure.grid-item p.icon-links a span::before { 
    display:inline-block;
    padding:8px 10px;
    speak:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

figure.grid-item h2 {
    display:inline-block;
}

figure.grid-item:hover p.description { 
    opacity:1;
}

figure.grid-item:hover figcaption,figure.grid-item:hover h2,figure.grid-item:hover p.icon-links a{
    -webkit-transform:translateY(0%);
    -ms-transform:translateY(0%);
    transform:translateY(0%);
}

figure.grid-item:hover h2{
    -webkit-transition-delay:.05s;
    transition-delay:.05s;
}

figure.grid-item:hover p.icon-links a:nth-child(3){
    -webkit-transition-delay:.1s;
    transition-delay:.1s;
}

figure.grid-item:hover p.icon-links a:nth-child(2){
    -webkit-transition-delay:.15s;
    transition-delay:.15s;
}

figure.grid-item:hover p.icon-links a:first-child{
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}

/* FOOTER */
footer {
    background-color:#1773c7;
    border-top:1px solid #E0E0E0;
    color:#F8F8F8;
    font-size:.929em;
    height:150px;
    padding-top:20px;
    text-align:center
}

footer span { 
    color:#FF6600;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
}

footer a {
    color: #FF6600;
    transition: color 0.2s ease-in;
}

footer a:hover {
    text-decoration: none;
}
/* Pulse Hearth */
@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.40); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.20); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

footer .pulse {
    -webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 2000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

/* Effect 13: three circles */
.cl-effect-13 li > a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-13 li > a::before {
	position: absolute;
	top: 100%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.cl-effect-13 li > a:hover::before,
.cl-effect-13 a:focus::before {
	color: #FF6600;
	text-shadow: 10px 0 #FF6600, -10px 0 #FF6600;
}

.cl-effect-13 li > a:hover,
.cl-effect-13 a:focus {
	color: #ba7700;
}

/*UNDER CONSTRUCTION */
.constr {
	padding-top: 150px;
    padding-bottom: 200px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/main-bg-compressor.jpg)fixed no-repeat center center;
    background-color: #000;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
    
